body {
  margin: 0;
}

.gallery-box {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.gallery {
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  row-gap: 48px;
  margin: 0 auto;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-image {
  display: block;
  width: 360px;
  height: 300px;
  border-radius: 12px;
}
